html {
  background-color: black;
}

.App {
  text-align: center;
}

.nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: black;
}

.nav h1 {
  color:rgb(127, 246, 255);
  margin-left: 20px;
}

.navButtonsBar {
  align-content: center;
  justify-content: space-evenly;
  padding: 20px;
}

.navButtonsBar button {
  margin: 10px;
  height: 30px;
  background-color: rgb(127, 246, 255);
  
}

.overview {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}

.overviewBox {
  max-height: 500px;
  margin: 10px;
  width: 300px;
  padding: 10px;
  background-color: rgb(127, 246, 255);
}

.itemized {
  display: flex;
  flex-direction: column;
  }

.itemizedBox {
  width: 95%;
  background-color: rgb(127, 246, 255);
  padding: 10px;
  margin: 10px;
  align-self: center;
  justify-content: center;
}

.eDateAmount {
  display: flex;
  margin: auto;
  max-width: 50%;
  justify-content: center;
}

.eDateAmount p {
  margin-left: 2%;
  margin-right: 2%;
}